@import "tailwindcss";

/* scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #020617; /* tumhare dark bg jaisa */
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}